.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.constructor_order {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.constructor_price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.currency_icon {
  width: 36px;
  height: 36px;
}

.constructor_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.constructor_item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
