.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 600px;
  color: var(--text-primary-color);
}

.constructor_order {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.constructor_price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.currency_icon {
  width: 36px;
  height: 36px;
}

.constructor_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  min-height: 300px;
  overflow: auto;
}

.constructor_item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.bun_placeholder,
.ingredients_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 2px dashed #8585ad;
  border-radius: 24px;
}

.ingredients_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}
