.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.order_id {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.order_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
