.block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 272px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.block:hover {
  transform: scale(1.025);
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  width: 100%;
  height: 48px;
  text-align: center;
}
