.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.title {
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button {
  align-self: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 56px;
}

.actionRow {
  display: flex;
  gap: 8px;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
